# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# PyCharm
.idea/

# Raw MRI dataset
data/raw/

# Processed MRI images
data/processed/mri/

# Large trained model files
models/*.keras
models/*.h5

# Temporary files
*.tmp
*.log